<div class="input-control">
  <label for="item-input">Selectionner une gare</label>
  <select id="item-input" #newItem class="input-control select">
    <option value="">Choisissez une gare</option>
    <option *ngFor="let gare of gares" [ngValue]="gare">{{ gare.name }}</option>
  </select>
  
  <label for="radius-input">Selectionner un rayon</label>
  <input id="radius-input" #newRadius type="number" min="1" class="input-control">
</div>
<button type="button" (click)="onInputChange(newItem.value, newRadius.value)">Valider</button>