<div class="map-container">
    <div class="leaflet-top leaflet-left">
        <div class="leaflet-control leaflet-bar custom-control">
            <select (change)="onMenuChange($event)">
                <option value="">Choose an option</option>
                <option value="showBusStop">Show bus stop</option>
                <option value="showHauteurQuai">Show hauteur quai</option>
                <!-- Add more options as needed -->
            </select>
        </div>
    </div>
    <div class="map"
        leaflet
        [leafletOptions]="options"
        (leafletMapReady)="onMapReady($event)">
    </div>
    <app-hauteur-quai *ngIf="selectedOption === 'showHauteurQuai'" (stationChange)="onStationChange($event)"></app-hauteur-quai>
    <app-input-control *ngIf="selectedOption === 'showBusStop'" (inputChange)="onInputChange($event)"></app-input-control>
</div>